.background_download_ios{
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.download_container_ios{
    height: 70vh;
    display: flex;
    padding-left: 30px;
    width: 80vw;
}
.videobg_download_ios{
    height: 300px;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
    box-shadow: 0 0 1rem whitesmoke;
    justify-self: center;
    width: 400px;
    border-radius: 10px;
}
#download_video_ios{
    width: 80%;
    height: 100%;
    border-radius: 10px;
}
.options_container_ios{
    width: 60%;
    color: white;
    padding-top: 200px;
}
.options_container_ios button{
    border-radius: 10px;
}
.options_container_ios button:active{
    background-color: black;
    color: white;
}
@media screen and (max-width:480px) {
    .download_container_ios{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .options_container_ios{
        padding-top: 20px;
    }
    .videobg_download_ios{
        height: 30vh;
        width: 80vw;
    }
}